.saveButton {
  position: absolute;
  bottom: 60px;
  right: 80px;
  padding: 11px 20px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  border-radius: var(--rounded-normal);
  color: var(--gray50);
  border: none;
  background-color: var(--green200);
  cursor: pointer;
}

.cancelButton {
  position: absolute;
  bottom: 60px;
  right: 155px;
  padding: 11px 20px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  border-radius: var(--rounded-normal);
  color: var(--green200);
  border: 1px solid var(--green200);
  background-color: var(--gray50);
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .saveButton {
    top: 113px;
    right: 57px;
    height: fit-content;
  }

  .cancelButton {
    top: 113px;
    right: 132px;
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .saveButton {
    top: 75px;
    right: 17px;
    height: fit-content;
  }

  .cancelButton {
    top: 75px;
    right: 92px;
    height: fit-content;
  }
}
