.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.editor {
  width: 100%;
}

.h2 {
  color: var(--gray500);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-xl);
  margin-top: 30px;
  margin-left: 200px;
}

.profile {
  margin-top: 38px;
  margin-right: 80px;
}

.btnSave {
  position: absolute;
  bottom: 60px;
  right: 80px;
  padding: 11px 20px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  border-radius: var(--rounded-normal);
  color: var(--gray50);
  border: none;
  background-color: var(--green200);
  cursor: pointer;
}

.cancelButton {
  position: absolute;
  bottom: 60px;
  right: 155px;
  padding: 11px 20px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  border-radius: var(--rounded-normal);
  color: var(--green200);
  border: 1px solid var(--green200);
  background-color: var(--gray50);
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .profile {
    margin-top: 107px;
    margin-right: 60px;
    margin-left: 60px;
  }

  .btnSave {
    top: 113px;
    right: 57px;
    height: fit-content;
  }

  .cancelButton {
    top: 113px;
    right: 132px;
    height: fit-content;
  }

  .h2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
  }

  .btnSave {
    top: 75px;
    right: 17px;
    height: fit-content;
  }

  .cancelButton {
    top: 75px;
    right: 92px;
    height: fit-content;
  }

  .h2 {
    display: none;
  }
}
