.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 153px 0 224px 0;
}

.headerTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-sb);
  text-align: center;
  padding-bottom: 32px;
  color: var(--gray500);
  line-height: var(--line-height-xl);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: 0 auto;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-rg);
  line-height: var(--line-height-md);
  color: var(--gray500);
}

.input {
  color: var(--gray500);
  width: 100%;
  line-height: var(--line-height-md);
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--gray100);
  padding: 20px 10.5px;
}

.input:focus-visible {
  outline: 1px solid var(--green200);
}

.input::placeholder {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-md);
  color: var(--gray400);
}

.submitBtn {
  align-self: flex-end;
  width: 89px;
  height: 45px;
  background-color: var(--green200);
  border: none;
  border-radius: 10px;
  color: var(--gray100);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-md);
  margin-top: 8px;
}

.line {
  border-top: 1px solid var(--gray200);
  width: 400px;
}
