.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leftContainer {
  width: 100%;
  margin-right: 80px;
  margin-left: 460px;
}

.subjectContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
  margin-bottom: 32px;
}

.h2 {
  font-size: var(--font-size-bg);
  font-weight: var(--font-weight-sb);
  color: var(--gray500);
}

.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-xl);
  color: var(--gray500);
}

.button {
  height: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-md);
  border: none;
  border-radius: var(--rounded-normal);
  padding: 10.5px 42px;
  background-color: var(--green200);
  color: var(--gray50);
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  gap: 64px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .topContainer {
    order: 1;
    margin: 60px 60px 15px 60px;
  }

  .leftContainer {
    order: 3;
    margin: 0;
  }

  .rightContainer {
    order: 2; /* 위로 이동시키기 위해 순서 변경 */
    margin-bottom: 20px;
  }

  .subjectContainer {
    margin: 0 0 32px 0;
    order: 1;
  }

  .description {
    margin: 60px;
  }
}
