.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leftContainer {
  width: 100%;
  margin-right: 80px;
  margin-left: 460px;
}

.subjectContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
  margin-bottom: 32px;
}

.h2 {
  font-size: var(--font-size-bg);
  font-weight: var(--font-weight-sb);
  color: var(--gray500);
}

.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-xl);
  color: var(--gray500);
}

.button {
  height: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-md);
  border: none;
  border-radius: var(--rounded-normal);
  padding: 10.5px 42px;
  background-color: var(--green200);
  color: var(--gray50);
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  gap: 64px;
}

.description span {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description span h2 {
  color: var(--gray500);
}

.description span p {
  color: var(--gray500);
}
