.contentContainer {
  display: flex;
  flex-direction: column;
}

.subjectContainer {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 24px 20px;
}

.topContainer {
  margin-bottom: 12px;
}

.link {
  margin-left: 20px;
}

.h2 {
  font-size: var(--font-size-bg);
  font-weight: var(--font-weight-sb);
  color: var(--gray500);
}

.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-xl);
  color: var(--gray500);
}

.snackbarWarning {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: var(--red100);
  border: solid 1px var(--red200);
  padding: 15px 20px;
  border-radius: 10px;
}

.button {
  height: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-sb);
  line-height: var(--line-height-md);
  border: none;
  border-radius: var(--rounded-normal);
  padding: 10.5px 42px;
  background-color: var(--green200);
  color: var(--gray50);
  cursor: pointer;
}

.button:disabled {
  background-color: var(--gray300);
}

.profileContainer {
  margin-left: 20px;
  margin-right: 20px;
}

.nonDataWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 40px 20px 249px 20px;
  border-radius: var(--rounded-normal);
  background-color: var(--gray100);
}

.nonDataWrap p {
  color: var(--gray400);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-rg);
  line-height: var(--line-height-md);
}

.description {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 0 20px;
}

.description span {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description span h2 {
  color: var(--gray500);
}

.description span p {
  color: var(--gray500);
}

@media (min-width: 767px) and (max-width: 1200px) {
  .subjectContainer {
    margin: 60px 60px 32px 60px;
  }

  .topContainer {
    margin-bottom: 24px;
  }

  .link {
    margin-left: 60px;
  }

  .profileContainer {
    margin-left: 60px;
    margin-right: 60px;
  }

  .description {
    margin: 51px 60px 0 60px;
  }

  .nonDataWrap {
    margin: 60px 60px auto;
  }

  .nonDataWrap p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
  }
}

@media (min-width: 1201px) {
  .subjectContainer {
    width: 50%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 600px;
  }

  .link {
    margin-left: 350px;
  }

  .topContainer {
    margin-bottom: 56px;
  }

  .description {
    width: 50%;
    margin-left: auto;
    margin-right: 600px;
  }

  .profileContainer {
    position: absolute;
    top: 120px;
    right: 200px;
  }

  .nonDataWrap {
    margin-top: 56px;
    margin-left: 18%;
    margin-right: 30%;
  }

  .nonDataWrap p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
  }
}
