.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  gap: 15px;
  right: 10px;
  top: 70px;
  background-color: var(--gray50);
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
}

.modalContainer > div {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-rg);
  line-height: var(--line-height-md);
  color: var(--gray500);
}

@media (min-width: 424px) {
  .modalContainer {
    display: none;
  }
}
